<p><%= @card_application.applicant.name %>様</p>

<p>この度は、Xardクレジットカードにお申し込みいただき、誠にありがとうございます。</p>

<p>審査の結果、カードが承認されましたことをお知らせいたします。</p>

<p>カードは近日中にご登録の住所へお届けいたします。</br>
到着まで今しばらくお待ちください。</p>

<p>------------------------------------</p>
<p>Xard株式会社</p>
