<p><%= @card_application.user.name %>様</p>

<p>この度は、Xardクレジットカードにお申し込みいただき、誠にありがとうございます。</p>

<p>誠に恐縮ながら、慎重に審査を重ねました結果、今回はカードの発行を見送らせていただくことになりました。</p>

<p>ご希望に沿えず大変申し訳ございませんが、何卒ご了承くださいますようお願い申し上げます。</p>

<p>なお、審査内容の詳細につきましては、お答えいたしかねますのでご了承ください。</p>

<p>------------------------------------</p>
<p>Xard株式会社</p>
