<p><%= @user.email %>様</p>

<p>この度は、ご利用可能枠の一時的な増額をお申し込みいただき、誠にありがとうございます。</p>

<p>誠に恐縮ながら、今回のお申し込みは見送らせていただくこととなりました。</p>
<p>ご希望に沿えず大変申し訳ございませんが、何卒ご了承くださいますようお願い申し上げます。</p>

<p>
  <strong>対象カード:</strong> <%= @card.card_type %> (下4桁: <%= @card.last_4_digits %>)
</p>

<hr>
<p>Xard株式会社</p>
